<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Test">
    <test name="Practice Test Cases">
        <classes>
            <class name="TestCases.LoginTest"></class>
            <class name="TestCases.MyAccountTest"></class>
        </classes>

    </test>
</suite>